<img style="padding:0px  0px  0px 190px;"  src="_LOGO_" />

<br/>
<hr style="height: 6px;color: #103257;background:#103257;width:100%"/>

<br/>

<div style="float:left;padding:0px  0px  70px 190px;font-size:13px;font-family:Arial san-serif;width:565px">



Dear Medstock  Administrator,<br/><br/>

Seller _NAME_ has requested for payment of his dues. The transaction id is _TRANSID_ . 
<br/>
Please visit admin panel and approve the request.

<br/><br/>
Thanks,<br/>
xpmediastock
</div>


